.logo img {
  width: 100px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}

nav.active {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
  background-color: var(--dark-color);
}

nav ul {
  display: flex;
}

.active {
  background-color: var(--main-color);
  color: var(--background-color);
  box-shadow: 5px 10px 30px rgba(198, 184, 64, 0.411);
  transition: all ease 0.2s;
}

.active:hover {
  background-color: var(--dark-color);
  color: var(--background-color);
  box-shadow: 5px 10px 30px rgba(198, 184, 64, 0.411);
  transition: all ease 0.2s;
}

.current_path {
  color: var(--main-color);
  border-bottom: 3px solid rgba(198, 184, 64);
}

nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--background-color);
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.1s ease-in-out;
}

nav ul li a:hover {
  color: var(--main-color);
  transition: all ease 0.1s;
  border-bottom: 3px solid rgba(198, 184, 64);
}

@media (max-width: 1100px) {
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .logo img {
    width: 70px;
  }
  .header-btns {
    margin: 0;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 24px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 6px;
  }
  nav .menu-icon .nav-icon:after {
    top: -6px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}

@media (max-width: 400px) {
  .a-box {
    width: 100%;
    height: 400px;
  }
}
