.footer {
  height: 10rem;
  padding: 3rem;
  background-color: var(--main-color);
  color: var(--background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__icons {
  display: flex;
  align-content: space-between;
  gap: 2rem;
  font-size: 1.5rem;
}

.footer__icon:hover {
  color: var(--dark-color);
}

.footer__copyright {
  margin-top: 0.5rem;
}
