
/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colors ==========*/
    --main-color:  #E4BB4A;
    --main-color-second: #FBCD05;
    --dark-color: #161512;
    --darker-color: #131111;
    --background-color: #FFFBF5;
}

body{
    margin:0px;
    padding: 0px;
    background-color: var(--dark-color);
    font-family: 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}

input{
    outline: none;
    border: none;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px var(--main-color),
      0 0 82px var(--main-color),
      0 0 92px var(--main-color),
      0 0 102px var(--main-color),
      0 0 151px var(--main-color);
}

.pulsate {
    animation: pulsate 1.5s infinite alternate;     
}

@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px var(--main-color),
        0 0 80px var(--main-color),
        0 0 90px var(--main-color),
        0 0 100px var(--main-color),
        0 0 150px var(--main-color);
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px var(--main-color),
      0 0 45px var(--main-color),
      0 0 55px var(--main-color),
      0 0 70px var(--main-color),
      0 0 80px var(--main-color);
  
  }
}

@media (min-width: 1024px){
    .main{
		background-size: 1150px !important;
		
	}
	.name{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .name h2{
        font-size: 1.5rem;
    }
    .name h1{
        font-size: 3rem;
    }
    .name .details{
        font-size: 1rem;
    }
    .dl-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .dl-heading h2{
        font-size: 1.5rem;
    }
    .dl-heading h1{
        font-size: 3rem;
    }
    .dl-heading .details{
        font-size: 1rem;
    }
	.about-image img{
		height:400px;
    }
    .features{
		height:auto;
    }
    .a-container{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
    .a-b-img img{
		object-fit:contain;
    }
}

@media (max-width: 1024px){

}

@media (max-width: 992px){
	.name{
		width:60%;
    }
    .dl-heading{
		width:60%;
    }
    .main{
		height: 650px;
	}
	.name{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .dl-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.about-image{
        display:none;
    }
    .header-btn{
        margin-left: 20%;
        margin-top: 20px;
    }
    .dl-btn{
        margin-left: 20%;
        margin-top: 20px;
    }
	.about{
		justify-content: center;
        padding-top: 0px;
        text-align: center;
        
        margin-top: 0px;
	}
	.about-text{
        width: 90%;
	}
	.about-text h1{
		font-size:4rem;
    }
    .about-text p{
        width: 100%;
    }
    .features{
        margin-bottom: 100px;
    }
    .contact form{
        width:90%;
    }
}

@media (max-width: 320px){
    .a-box{
        width: 100%;
        height:400px;
    }
}