.a-box{
  width:250px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}
.a-b-img{
  width: 60%;
  height: auto;
  margin: auto;
}
.a-b-img img{
  padding: 15px;
  width:100%;
  height: 50%;
  margin-top: 40px;
}
.a-box:hover{
  border: 1px solid var(--main-color);
  box-shadow: 2px 2px 12px rgba(198, 184, 64, 0.411);
}
.a-b-text{
  width: 100%;
  height: 40%;
  background-color:var(--dark-color);
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.a-b-text h2{
  color: var(--background-color);
}
.a-b-text p{
  margin: 0px;
  color:#ffffffa6;
  font-size: 1.1rem;
  font-family:'Lato';
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 5px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.a-b-text p:hover{
  color:var(--background-color);
}
.a-b-text a{
  margin-top:15px ;
}
